body {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-family: sans-serif;
}

.tableBody {
  text-align: left
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
div.singleColumn{
  width:80%;
}

div.navigation{
  width:80%;
  text-align: right;
}

div.subSection {
  border: thin gray solid;
  padding:5px 5px 5px 5px;
  margin:2px 2px 2px 2px;
}

div.leftColumn {
  float: left;
  width:48%;
}

div.rightColumn {
  float: left;
  width:48%;
 
}

div.clear {
  clear:both;
}

.largeTextField{
  width:90%
}

.email {
  width:500px;
}

.button {
  border: thin darkgray solid;
  font-size:14pt;
  background-color: lightgray;
  
}
button:hover{
  cursor: pointer;
}

div.frame {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  margin-right:auto;
  margin-left:auto;
}

div.wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.stateSelect{
  width:150px;
}